.navbar-brand,
.navbar-brand:visited,
.navbar-brand:active {
  color: #000;
  text-decoration: none;
  font-size: 2rem;
}

.custom-underline {
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  border-radius: 2px;
  width: fit-content;
}

.navbar-brand:hover {
  color: #000;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  border-radius: 2px;
  width: fit-content;
}
