<button
  class="btn btn-info me-3"
  data-bs-toggle="modal"
  [attr.data-bs-target]="'#viewstudent'+student.id"
>
 view
</button>
<div
  class="modal fade"
  id="viewstudent{{student.id}}" 
  tabindex="-1"
  aria-labelledby="viewStudentModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewStudentModal">View Student</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
 <div class="card" *ngIf="student; else noStudent">
      <div class="card-header text-center dark">
        <h3>{{ student.name }} </h3>
      </div>
      <div class="card-body">
        <p class="card-text">  Email: {{ student.email }} </p>
      </div>

    </div>
    <ng-template #noStudent>
      <p class="alert alert-info">No student found.</p>
    </ng-template>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
